/FontChooserDialogTest.class
/GradientPaintTransformTypeTests.class
/HorizontalAlignmentTests.class
/LayerTests.class
/RectangleAnchorTests.class
/RectangleEdgeTests.class
/RectangleInsetsTests.class
/Size2DTests.class
/StandardGradientPaintTransformerTests.class
/TextAnchorTests.class
/UIPackageTests.class
/VerticalAlignmentTests.class
